<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h2>Créer un nouveau quiz</h2>
            <form class="quiz-form" [formGroup]="quizForm">
                <div class="input-field">
                    <label class="form-label" for="title">Titre</label>
                    <input class="input-edit" type="text" id="name" [formControlName]="'name'">
                </div>
                
                <div class="input-field">
                    <label class="form-label" for="theme">Thème</label>
                    <input class="input-edit" type="text" [formControlName]="'theme'">
                </div>
                
                <div class="input-field">
                    <label class="form-label" for="creator">Créateur du quiz</label>
                    <input class="input-edit" type="text" [formControlName]="'creator'">
                </div>
                <div class="input-field">
                    <label class="form-label" for="bgimage">Background image</label>
                    <input class="input-edit" type="text" [formControlName]="'bgimage'">
                </div>
                
                <button class="button" type="submit" (click)="addQuiz()">Créer</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>