.quiz-form
{
    text-align: center;
    background-color: var(--alt-panel-color);
    padding: 10px;
    box-shadow: 2.5px 2.5px 5px var(--main-shadow-color);
}

.form-label
{
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    width: 500px;
}

.input-field
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.input-edit
{
    flex: 1;
    align-self: stretch;
    max-width: 500px;
}