<app-header [title]="pageTitle"></app-header>

<app-quiz-form *ngIf="creatingQuiz ; else proposeCreateQuiz" (quizCreated)="quizCreated($event)"></app-quiz-form>
<ng-template #proposeCreateQuiz>
    <button (click)="startQuizCreation()">Create Quiz</button>
</ng-template>





<app-quiz-list></app-quiz-list>


<div class="bouttons-box">
    <input class="button btn btn-default" id="buttonID" type="button" value="Modifier un quiz" routerLink="/modify">
    <input class="button btn btn-default" id="buttonID" type="button" value="Créer un quiz" routerLink="/create">
</div>

<app-reglage class="absolute" *ngIf="buttonIsActivated == true"></app-reglage>