.headerbar
{
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--main-shadow-color);
    min-height: 100px;
}

.menu-button
{
    font-size: max(var(--main-font-size), 45px);
    position: fixed;
    top: 10px;
    left: 10px;
}

.reglage-button
{
    font-size: max(var(--main-font-size), 45px);
    position: fixed;
    top: 10px;
    left: calc(max(var(--main-font-size), 45px)*5);
}

h2
{
    text-align: center;
    margin: 0px;
}