.headerbar
{
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2.5px 10px lightgray;
}

.menu-button
{
    position: fixed;
    top: 10px;
    left: 10px;
}

.reglage-button
{
    position: fixed;
    top: 10px;
    left: 180px;
}

h2
{
    text-align: center;
    margin: 0px;
}