.titre {
    position: relative;
    font-size: 120px;
    text-align: center;
    margin-block-start: 0;
}

nav {
    padding-top: 40px;
}

a:focus {
    border-bottom: 1px solid;
    background: #c8d6e5;
}
  
a:hover {
    border-bottom: 1px solid;     
    background: #c8d6e5;
}

.liens-group {
    border: 0;
}

.lien1 {
    position: relative;
    left: 22%;
    font-size: 36px;
}

.lien2 {
    position: relative;
    font-size: 42px;
    left: 22%;
}

.lien3 {
    position: relative;
    font-size: 48px;
    left: 22%;
}

.lien4 {
    position: relative;
    font-size: 54px;
    left: 22%;
}

.lien5 {
    position: relative;
    font-size: 60px;
    left: 22%;
}

.NB {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.bouton-reglage {
    height: fit-content;
    text-align: center;
    margin-bottom: 30px;
}

.button-reglage {
    font-size: 60px;
}

.reglage {
    font-size: 40px;
    margin-bottom: 20px;
}

.options {
    position: relative;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 80px;
    border: 0;
}

.bouttons {
    display: block;
    border: 0;
}

.contraste {
    position: relative;
    font-size:40px;
    margin: auto;
    margin-left: 30px;
}

.classic {
    font-size: 50px;
    color: #202020;
    background-color: whitesmoke;
}

.daltonien1{
    font-size: 50px;
    color: #FEDB01;
    background-color: #1A1A1A;
    border: 1px solid #FEDB01;
}

.daltonien2{
    font-size: 50px;
    color: whitesmoke;
    background-color: #3b5998;
    border: 1px solid white;
}