.box-reglage{
    width: 40%;
    min-height: 100vh;
    height: fit-content;
    position: absolute;
    left: 60%;
    top: 0%;
    background-color: white;
    border-left: 2px solid grey;
    z-index: 1;
}

.title {
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.options {
    margin-left: 50px;
    margin-bottom: 30px;
}

.retour {
    font-size: 60px;
    position: relative;
    margin-top: 10px;
    left: 35%;
    margin-bottom: 80px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(57, 169, 243);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}