<div class="box-reglage">
    <h1 class="title"> Options Visuelles</h1>

    <div class="text options"> Contraste 
        <!-- Ajouter la barre avec le curseur à déplacer -->
    </div>
    <div class="text options"> Luminosité 

    </div>
    <div class="text options"> Police d'écriture 

    </div>
    <div class="text options slidecontainer"> Taille de la police
        <input #slider type="range" (change)="updateFontSize(slider.value)" min="8" max="60" value="45" class="slider" id="myRange">
    </div>
    <div class="text options"> Profil Enregistré 

    </div>
    <div class="text options"> Enregistrer Profil 

    </div>

    <button class="retour btn btn-default" (click)="onCloseReglage()">Fermer</button>

</div>

