<form class="box-reglage contrast">
    <h1 class="title"> Options Visuelles</h1>

    <div class="options"> Contraste <br>
        <button class="contraste btn btn-default" (click)="updateContrast(1)">Classic</button>
        <button class="contraste btn daltonien1" (click)="updateContrast(2)">Daltonien1</button>
        <button class="contraste btn daltonien2" (click)="updateContrast(3)">Daltonien2</button>
    </div>
    <div class="options"> Luminosité 

    </div>
    <div class="options"> Police d'écriture 

    </div>
    <div class="options slidecontainer"> Taille de la police
        <input #slider type="range" (change)="updateFontSize(slider.value)" autocomplete="off" min="20" max="60" value="{{this.value}}" class="slider" id="myRange">
    </div>
    <div class="options"> Profil Enregistré 

    </div>
    <div class="options"> Enregistrer Profil 

    </div>

    <button class="retour button btn btn-default" (click)="onCloseReglage()">Fermer</button>
</form>

