<div class="box-reglage">
    <h1 class="title"> Options Visuelles</h1>

    <div class="options"> Contraste 
        <!-- Ajouter la barre avec le curseur à déplacer -->
    </div>
    <div class="options"> Luminosité 

    </div>
    <div class="options"> Police d'écriture 

    </div>
    <div class="options slidecontainer"> Taille de la police
        <input #slider type="range" (change)="updateFontSize(slider.value)" min="8" max="60" value="45" class="slider" id="myRange">
    </div>
    <div class="options"> Profil Enregistré 

    </div>
    <div class="options"> Enregistrer Profil 

    </div>

    <button class="retour btn btn-default" (click)="goBack">Retour</button>

</div>
