.wow
{
    background-color: var(--alt-panel-color);
    padding: 10px;
    box-shadow: 2.5px 2.5px 5px var(--main-shadow-color);
}

.panel
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--main-panel-color);
    border: 2px solid var(--main-color);
}

h2
{
    margin-left: 25px;
    margin-right: 25px;
}

.validationButton
{
    margin: 40px;
    text-align: center;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}