<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="wow">
                <div *ngFor="let quiz of quizList">
                    <app-quiz-card [quiz]="quiz" [deletable]="deletable" (quizSelected)="quizSelectedHandle($event)" (deleteQuiz)="deleteQuiz($event)"></app-quiz-card>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="panel" *ngIf="quizToDelete">
    <h2>Supprimer {{quizToDelete.name}} ?</h2>
    
    <button class="validationButton" (click)="nePasDeleteQuiz()">Non</button>
    <button class="validationButton" (click)="deleteQuizPourDeBon()">Oui</button>
</div>
