<form class="form-field" [formGroup]="questionForm">
    <h2 class="form-title">Créer une question</h2>
    <div class="input-field">
        <label class="input-label" for="label">Question</label>
        <input class="input-edit" type="text" [formControlName]="'label'">
    </div>
    <button class="button" (click)="addAnswer()">Ajouter une réponse</button>

    <div formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
            <div [formGroupName]="i">
                <div class="input-field">
                    <label class="input-label">Réponse</label>
                    <input class="input-edit" type="text" [formControlName]="'value'" maxlength="45">
                </div>
                <div class="input-field">
                    <label class="input-label">Bonne réponse</label>
                    <input class="input-checkbox" type="checkbox" [formControlName]="'isCorrect'">
                </div>
            </div>
        </div>
    </div>
    <button class="button" type="submit" (click)="addQuestion()">Créer</button>
</form>