.titre {
    position: relative;
    font-size: 120px;
    text-align: center;
    margin-block-start: 0;
    margin-bottom: 100px;
    padding-top: 30px;
}

.titre2 {
    position: relative;
    font-size: 180%;
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 80px;
}

.sommaire {
    font-weight: bold;
    text-decoration: underline;
}


.button {
    position: fixed;
    bottom: 150px;
    right: 30px;
    font-size: 130%;
    text-align: center;
}

.button-reglage {
    position: fixed;
    bottom : 30px;
    right: 30px;
    font-size: 60px;
}

.listeLien {
    display: inline-block;
    padding: 5px;
    border: 1px solid;
    position: fixed;
    bottom : 500px;
    right: 20px;
}

h1 {
    margin-bottom: 60px;
}

p {
    display: inline-block;
    margin-left: 10px;
}

.p-image {
    margin-left: 20px;
}

.fleche {
    position: relative;
    padding-left: 10px;
}

.image {
    display: block;
    margin-left: 50px;
    width: 80%;
}

.big-image {
    position: fixed;
    color:black;
    background-color: gray;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 2;
}

.closeButton {
    display: block;
    margin: auto;
}


//bloc-note
.quote-container {
    height: 180px;
    width: auto;
    position: relative;
    display: inline-block;
    left: 30%;    
    margin-bottom: 10px;
}
  
.note {
    color: #333;
    position: absolute;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.3);
    display: inline-block;
    border: 0;
    right: 0%;
}

.grey {
    background: #aaaaa5;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

.pin {
    background-color: rgb(133, 128, 128);
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    right: 150px;
    top: -16px;
    z-index: 1;
}

  .pin:after {
    background-color: #A31;
    background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
                inset 3px 3px 3px hsla(0,0%,100%,.2),
                inset -3px -3px 3px hsla(0,0%,0%,.2),
                23px 20px 3px hsla(0,0%,0%,.15);
    content: '';
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
}

.pin:before {
    background-color: hsla(0,0%,0%,0.1);
    box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
    content: '';
  
    height: 24px;
    width: 2px;
    left: 0;
    position: absolute;
    top: 8px;
  
    transform: rotate(57.5deg);
    -moz-transform: rotate(57.5deg);
    -webkit-transform: rotate(57.5deg);
    -o-transform: rotate(57.5deg);
    -ms-transform: rotate(57.5deg);
  
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}
