<div class="contrast">

    <h1 class="titre">Tutoriel</h1>

    <h2 class="titre2" id="Jouer"> Pour jouer : </h2>

    <div class="p-image">
        <img *ngIf="valueContrast == 1" src="../assets/cercle-1.png"/>
        <img *ngIf="valueContrast == 2" src="../assets/cercle-1-dalto1.png"/>
        <img *ngIf="valueContrast == 3" src="../assets/cercle-1-dalto2.png"/>
        <p> Cliquer sur jouer comme ci-dessous </p>
        <img class="fleche" *ngIf="valueContrast == 1" src="../assets/arrow1tutoclassic.png"/>
        <img class="fleche" *ngIf="valueContrast == 2" src="../assets/arrow1tutodalto1.png"/>
        <img class="fleche" *ngIf="valueContrast == 3" src="../assets/arrow1tutodalto2.png"/>
    </div>

    <img class="image" *ngIf="valueContrast == 1" src="../assets/menu_jouer_classic.png"/>
    <img class="image" *ngIf="valueContrast == 2" src="../assets/menu_jouer_daltonien1.png"/>
    <img class="image" *ngIf="valueContrast == 3" src="../assets/menu_jouer_daltonien2.png"/>


    <h2 class="titre2" id="Creer"> Pour créer un quiz : </h2>



    <h2 class="titre2" id="Modifier"> Pour modifier un quiz : </h2>


    <footer>
        <div class="listeLien">
            <p class="sommaire"> Sommaire : </p> <br>
            <a routerLink="." fragment="Jouer"> Jouer </a> <br>
            <a routerLink="." fragment="Modifier"> Créer</a> <br>
            <a routerLink="." fragment="Creer"> Modifier</a>
        </div>
        <button class="button btn btn-default return" routerLink="/menu">Menu</button>
        <button class="button-reglage btn btn-info" (click)="goToReglageOrQuit()">Réglage</button>
    </footer>

    <app-reglage *ngIf="buttonIsActivated == true"></app-reglage>

</div>