.button {
    font-size: 130%;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}

.inputGroup1 {
    text-align: center;
    border: solid 1px lightgray;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    font-size: 80%;
    box-shadow: 5px 5px 10px lightgray;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.inputGroup2 {
    text-align: center;
    border: solid 1px lightgray;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    font-size: 80%;
    box-shadow: 5px 5px 10px lightgray;
}

.questionCreation{
    border-bottom:solid 2px lightgray; ;
    padding-bottom: 1em;
}


.formulaire{
    width: fit-content;
    min-width: 100px;
    margin: 0.1em;
    //display: inline-block;
}

h3 {
    display: inline-block;
}

.reglage {
    font-size: 60px;
    float: right;
    margin-right: 2%;
}

footer{
    margin-top: 10%;
    margin-left: 2%;
}

