.button {
    font-size: 130%;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}

.buttonGroup {
    text-align: center;
    border: solid 1px lightgray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 10px;
    box-shadow: 5px 5px 10px lightgray;
    //display: inline;
}
.buttonGroup2 {
    text-align: center;
    border: solid 1px lightgray;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    font-size: 80%;
    box-shadow: 5px 5px 10px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonGroup3 {
    text-align: center;
    border: solid 1px lightgray;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    font-size: 80%;
    box-shadow: 5px 5px 10px lightgray;
}

.questionCreation{
    border-bottom:solid 2px lightgray; ;
    padding-bottom: 1em;
}

//.truc{
//    display: inline-flex;
//}

.formulaire{
    width: fit-content;
    min-width: 100px;
    margin: 0.1em;
}

h3 {
    display: inline-block;
}

.reglage {
    font-size: 60px;
    float: right;
    margin-right: 2%;
}

footer{
    margin-top: 10%;
    margin-left: 2%;
}

