fieldset
{
    display: block;
    border: 2px groove;
    margin-left: 2px;
    margin-right: 2px;
}

.button {
    font-size: 130%;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 50px;
}

.reglage {
    font-size: 60px;
    position: absolute;
    top: 85%;
    left: 45%;
}