
<h1>Quiz sur {{quiz.name}}</h1>
<h2>Question {{questionIndex}}/{{quiz.questions.length}} : {{question.label}}</h2>
<br>
<div class="buttonGoup">
    <button class="button btn btn-warning" type='button' (click)="selectAnswer(0)">{{question.answers[0].value}}</button>
    <button class="button btn btn-warning" type='button' (click)="selectAnswer(1)">{{question.answers[1].value}}</button>
    <br>
    <button class="button btn btn-warning" type='button' (click)="selectAnswer(2)">{{question.answers[2].value}}</button>
    <button class="button btn btn-warning" type='button' (click)="selectAnswer(3)">{{question.answers[3].value}}</button>
</div>

<div class="answerPanel" *ngIf="displayResultPanel == true">
    <p>{{answerString}}</p>
    
    <button (click)="goToNextQuestion()">go next</button>
</div>




<br>
<footer>
    <button class="button btn btn-default return" routerLink="/menu">retour au menu</button>
    <button class="reglage btn btn-info" (click)="goToReglageOrQuit()">Réglage</button>
</footer>

<app-reglage class="absolute" *ngIf="buttonIsActivated == true"></app-reglage>

<img id="blurImage" src="./assets/backToBlur.png" *ngIf="displayFinalResultPanel == true">

<div class="finalResultPanel" *ngIf="displayFinalResultPanel == true">
    <h2>Résultats du quiz sur {{quiz.name}}</h2>

    <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [colors]="doughnutChartColor"
        [chartType]="doughnutChartType"></canvas>

    <p>{{mark}}</p>
</div>