<h1>Quiz sur {{quiz.name}}</h1>
<h2>Question : {{question.label}}</h2>

<form>
    <fieldset>
        <legend>Question {{questionIndex}}/{{quiz.questions.length}} </legend>
            <button type='button' (click)="selectAnswer(0)">{{question.answers[0].value}}</button>
            <button type='button' (click)="selectAnswer(1)">{{question.answers[1].value}}</button>
            <button type='button' (click)="selectAnswer(2)">{{question.answers[2].value}}</button>
            <button type='button' (click)="selectAnswer(3)">{{question.answers[3].value}}</button>
    </fieldset>
</form>
<button routerLink="/menu">retour au menu</button>


<button class="reglage">Réglage##</button>