
<ng-container *ngIf="quiz">
    <app-header [title]="quiz.name"></app-header>

    <div class="buttonGoup">
        <div class="buttonGroup2">
            <h2 id="questionTitle">{{quiz.questions[questionIndex].label}}</h2>
            <div *ngFor="let answer of quiz.questions[questionIndex].answers; let i=index">
                <button class="button focused btn btn-default" type='button' (click)="getSelectedAnswer(i)">{{answer.value}}</button>
            </div>
        </div>
        <button class="button" type='button' (click)="selectAnswer(selectedAnswer)">Valider</button>
    </div>
    <h3>Question {{questionIndex+1}}/{{quiz.questions.length}}</h3>

    <div class="panel panel-animation" *ngIf="displayResultPanel == true">
        <img src={{answerIconSrc}} height="150" width="150"> 
        <p>{{answerString}}</p>
        <button class="button" (click)="goToNextQuestion()">Suivant</button>
    </div>

    <img id="blurImage" src="./assets/backToBlur.png" *ngIf="displayFinalResultPanel == true">

    <div class="panel panel-animation" *ngIf="displayFinalResultPanel == true">
        <h2>Résultats du quiz sur {{quiz.name}}</h2>

        <div>
            <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [colors]="doughnutChartColor"
                [legend]="false"
                [options]="doughnutChartOption"
                [chartType]="doughnutChartType">
            </canvas>
            <img class={{markcss}} src={{mark}}>
        </div>
        
        
        <p id="score1">bonne réponse : {{validAnswerCount}}</p>
        <p id="score2">mauvaise réponse : {{invalidAnswerCount}}</p>
        

        <button class="button" routerLink="/menu">Retour au menu</button>
    </div>
</ng-container>
