
.nbQuestion{
    font-size:70%;
    color:#AAAAAA;
}

.button {
    font-size: 130%;
    text-align: center;
    margin: 20px;
}

.reglage {
    font-size: 60px;
    float: right;
    margin-right: 2%;
}

.buttonGoup {
    text-align: center;
}

.return {
    position: relative;
    left: 2%;
    margin: 0px;
}