
.button {
    font-size: 130%;
    text-align: center;
    margin: 20px;
}

.reglage {
    font-size: 60px;
    float: right;
    margin-right: 2%;
}

.buttonGoup {
    text-align: center;
    border: solid 10px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding:10px
}

.return {
    position: relative;
    left: 2%;
    margin: 0px;
}

.answerPanel {
    position: absolute;
    background-color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    text-align: center;
}

.finalResultPanel {
    position: absolute;
    background-color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    text-align: center;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

h1
{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

h2
{
    font-size: 100%;
    margin: 30px;
}