.button {
    font-size: 130%;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}

.reglage {
    font-size: 60px;
    float: right;
    margin-right: 2%;
}

footer{
    margin-top: 10%;
    margin-left: 2%;
}