<div>
    <h1 class="titre"> PolyQuiz </h1>

    <div class="description"> PolyQuiz est un site de divertissement qui vous permez de jouer à des quiz. <br>
        Plusieurs thèmes et difficultés sont disponibles pour chacun. Vous avez aussi la possibilité de créer vos quiz.
    </div>

    <div class="bouttons-box">
        <input class="button menu-button" id="buttonID" type="button" value="Jouer" routerLink="/selection">
        <input class="button menu-button" id="buttonID" type="button" value="Créer / Modifier Quiz" routerLink="/editor">
        <input class="button menu-button" id="buttonID" type="button" value="Tutoriel" routerLink ="/tutoriel">
    </div>

    <div class="bloc-note-fleche-reglage-container">
        <div class="quote-container">
            <i class="pin"></i>
            <blockquote class="note grey">
                - Agrandir le texte <br>
                - Changer de police <br>
                - Modifier le contraste <br>
                etc...
            </blockquote>
        </div>
        <div class="fleche-reglage">
            <img class="arrow1" *ngIf="valueContrast == 1" src="../assets/arrow1.png"/> 
            <img class="arrow1" *ngIf="valueContrast == 2" src="../assets/arrow2.png"/>
            <img class="arrow1" *ngIf="valueContrast == 3" src="../assets/arrow3.png"/>

            <button class="button-reglage btn btn-info" (click)="goToReglageOrQuit()">Réglage</button>    
        </div>
    </div>

    
    <app-reglage *ngIf="buttonIsActivated == true"></app-reglage>


</div>


    