h1 {
    margin-bottom: 60px;
}

p {
    display: inline-block;
    margin-left: 10px;
}

.p-image {
    margin-left: 20px;
}

.fleche {
    position: relative;
    padding-left: 10px;
}

.image {
    display: block;
    margin-left: 50px;
}





.button {
    font-size: 130%;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
}

.reglage {
    font-size: 60px;
    float: right;
    margin-right: 5%;
    margin-top: 20px;
}