/* You can add global styles to this file, and also import other style files */
h1 {
    font-size:160%;
}

h2 {
    font-size:130%;
}


body{
    font-weight: 550;
    font-size: 45px;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden; //En attendant de trouver pourquoi on a un bout qui dépasse à droite
}


.titre {
    position: relative;
    font-size: 120px;
    text-align: center;
    margin-block-start: 0;
    padding-top: 30px;
}

a {
    color: black;
}

.contrast{
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
    color: black;
    background-color: white;
    //contrast(color/background-color) : black / white | yellow / black | white / blue
}

.button {
    background-color: white;
    color: black;
}
