/* You can add global styles to this file, and also import other style files */
h1 {
    font-size:160%;
}

h2 {
    font-size:130%;
}

:root{
    --main-font-size: 45px;
    --main-bg-color: white;
    --main-color: black;
    //--main-filter: brightness(0%);
}

body{
    font-weight: 550;
    font-size: var(--main-font-size);
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-bg-color);
    color: var(--main-color);   
}

a {
    color: var(--main-color);
}

.reglage{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    //contrast(color/background-color) : black / white | yellow / black | white / blue
}

.button {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.button:hover {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}
